$font_family_1: Muli, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
$font_family_2: 'Saira Extra Condensed', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

// default theme
// $color_1: #868e96;
// $color_2: #343a40;
// $color_3: #fff;
// $color_4: #bd5d38;
// $color_5: #824027;
// $background_color_1: #495057;
// $background_color_2: #bd5d38;
// $outline_color_1: #d48a6e;

// green-blue-gray theme
$color_1: #547980;
$color_2: #594F4F;
$color_3: #E5FCC2;
$color_4: #45ADA8;
$color_5: #547980;
$background_color_1: #594F4F;
$background_color_2: #45ADA8;
$outline_color_1: #9DE0AD;